body {
    
} 

.navbar {
    position: static;
    line-height: 4.1em;    
    -moz-box-shadow: 0px 5px 31px -15px rgba(89,89,89,1);
    box-shadow: 0px 5px 31px -15px rgba(89,89,89,1);
}

#__next {
    height: 100%
}